@model ShoppingProject.Models.News
@{
    ViewData["Title"] = "Home Page";
}
<div class="home-background">
    <div class="container">
        <div class="banner-info-bg">
            <h5>Find the best deals<br /> and everything you need for school!</h5>
            <div class="banner-buttons mt-4">
                <a class="btn btn-style btn-primary" asp-area="" asp-controller="About" asp-action="Index">Read More</a>
            </div>
        </div>
    </div>
</div>



<section class="w3l-content-3">
    <div class="content-3-mian py-5">
        <div class="container py-lg-5">
            <div class="content-info-in row">
                <div class="col-lg-6">
                    <img src="~/img/items.jpg" alt="" class="img-fluid">
                </div>
                <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self  pl-lg-5">
                    <div class="title-content text-left mb-2">
                        <h6 class="sub-title">Who We Are</h6>
                        <h3 class="hny-title">
                            A store for every student needs!
                        </h3>
                    </div>
                    <p class="mt-3">
                        Lorem ipsum viverra feugiat. Pellen tesque libero ut justo,
                        ultrices in ligula. Semper at tempufddfel. Lorem ipsum dolor sit amet consectetur
                        adipisicing
                        elit.fugiat consequatur voluptatem nihil ad.Lorem illum facere aperiam consectetur adipisicing.
                    </p>
                    <a asp-area="" asp-controller="About" asp-action="Index" class="btn btn-style btn-primary mt-md-5 mt-5">Read More</a>
                </div>
            </div>
        </div>

    </div>
</section>


<section class="features-4">
    <div class="features4-block py-5">
        <div class="container py-lg-4">
            <div class="title-content text-center mb-lg-5 mt-4">
                <h6 class="sub-title">Why Choose Us</h6>
                <h3 class="hny-title">Great Product service</h3>
                <p class="fea-para">Lorem illum facere aperiam consectetur adipisicing elit</p>
            </div>
            <div class="row features4-grids text-left mt-lg-4">
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-1">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-1"></div>
                                        <div class="ch-info-back">
                                            <h4>Toddler</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="features4-rightinfo">
                            <h5><a href="#URL">Toddler / 2 Years</a></h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-2">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-2"></div>
                                        <div class="ch-info-back">
                                            <h4>1st Grade</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    6 Years / Grade 1
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-3">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-3"></div>
                                        <div class="ch-info-back">
                                            <h4>6th Grade</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    11 Years / Grade 6
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 features4-grid mt-4">
                    <div class="features4-grid-inn">
                        <div class="img-featured">
                            <div class="ch-item ch-img-4">
                                <div class="ch-info-wrap">
                                    <div class="ch-info">
                                        <div class="ch-info-front ch-img-4"></div>
                                        <div class="ch-info-back">
                                            <h4>8th  Grade</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="features4-rightinfo">
                            <h5>
                                <a href="#URL">
                                    Teens / Grade 8+
                                </a>
                            </h5>
                            <p>Lorem ipsum dolor sit amet,Ea consequuntur illum facere.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-left py-3">
            <div class="title-content">
                <h6 class="sub-title">Call Us</h6>
                <h3 class="hny-title two mb-2">Imagine Your Product Feeling New Again</h3>
                <p>
                    Questions? Give us a call today at <a href="tel:+(21) 255 999 8899">
                        +(383)
                        49 100 101
                    </a>
                </p>

            </div>

            <a asp-area="" asp-controller="Services" asp-action="Index" class="btn btn-white mt-md-5 mt-4 mr-sm-2">Our Services</a>
            <a asp-area="" asp-controller="Contact" asp-action="Index" class="btn btn-white-active btn-primary mt-md-5 mt-4">Contact Us</a>
        </div>
    </div>
</div>

<section class="w3l-testimonials">
    <div class="container text-center mt-5">
        <div class="title-content text-center mb-lg-5 mb-4">
            <h6 class="sub-title">You're in the right place</h6>
            <h3 class="hny-title">Are you looking for a Product?</h3>

        </div>

    </div>
</section>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script type='text/javascript'>
    function ajaxGet() {

        $.ajax({
            type: "GET",
            url: "http://localhost:3000/user/allNews",
            success: function (result) {


                $.each(result, function (key, value) {

                    console.log(result[key].image);
                });
                $.each(result, function (index, obj) {
                    var tr = $("<div class='w-75 p-3 mx-auto border'></div>");

                    tr.append("<br><h3 class='text-center text-dark'>" + obj.title + "</h3><hr>");
                    tr.append("<p class='text-center text-dark'>" + obj.description + "</p>");
    @*tr.append("<p style:'display:none'>" + obj.img_path + "</p>");*@
                        tr.append("<p>" + obj.createdAt + "</p><hr>");
                    tr.append("<button class='btn btn-warning btn-lg btn-block text-center text-dark' value=" + obj._id + " onclick=showReportWindow(this)>Report</button><hr>");

                    $("#contain").append(tr);
                });
    @*if (results.length > 0) {
                    $('#title').text(result[0].title);
                    $('#description').text(result[0].description);
                    $('#img_path').text(result[0].img_path);
                    }
                    else {
                    alert("No data.");
                    }*@
                    console.log("Success: ", result);
            },
            error: function (e) {
                $("#getResultDiv").html("Error");
                console.log("ERROR: ", e);
            }
        });
    }

    function showReportWindow(data) {
        var id = $(data).val();
        var element = $("<form method='POST' class='d-flex flex-column' ></form>");


        element.append("<h4>" + id + "</h4>");
        //element.append("<input placeholder='Report Reason'></input>");

        var select = $("<select class='mb-3 mt-3'></select>")


        select.append("<option>Uncivil, rude or vulgar</option>")
        select.append("<option>Discrimination</option>")
        select.append("<option>Public shaming</option>")
        select.append("<option>Over-posting</option>")
        select.append("<option>Conflict of interest</option>")
        element.append(select)
        element.append("<button type='button' value=" + id + " class='btn btn-danger' onclick='reportNews(this);'>Create Report</input>");

        $("#reportWindow").append(element);

        $("#reportWindow").css({ "opacity": "100%", "pointer-events": "all", "z-index": 1, "border": "2px solid black;" });

        //opacity: 0;
        //pointer - events: none;
        //z - index: 0;
    }

    function reportNews(data) {
        var id = $(data).val();
        var select = $("select :selected").val();
        console.log(id, select);
        var obj = {
            newsId: id,
            reportReason: select
        }
        $.ajax({
            type: "POST",
            url: 'http://localhost:3000/user/report_news/' + id,
            data: obj,
            dataType: "json",
            encode: true,
            success: function (result) {
                console.log(result);
                //location.reload(true);
                $("#reportWindow").css({ "opacity": "0", "pointer-events": "none", "z-index": -1 });
                $('form').remove();
            }
        });


    }

    function removenews(data) {
        var id = $(data).val();
        console.log(id);
        $.ajax({
            type: "DELETE",
            url: 'http://localhost:3000/user/remove_news/' + id,
            success: function (result) {
                console.log(result);
                location.reload(true);
            }
        });
    }
</script>

<style>
    #reportWindow {
        position: absolute;
        background: white;
        display: grid;
        align-items: center;
        width: 100%;
        height: 350px;
        margin-left: 14%;
        margin-top: 20px;
        box-shadow: 5px 5px 5px 8px gray,5px 10px 10px 8px gray,5px 15px 15px 8px lightgray;
        pointer-events: none;
        z-index: 0;
        transition: opacity 0.2s;
        border: 2px solid black;
    }

        #reportWindow form {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }

    #smslogo {
        position: fixed;
        right: 133px;
        bottom: 51px;
        z-index: 500;
        width: 18px;
    }

    .fa-comment-dots {
        width: 100px;
    }

    * {
        box-sizing: border-box;
    }

    .left-side img {
        width: 350px;
    }

    .right-side {
        float: right;
    }

        .right-side p {
            min-width: 150px;
        }

    #reportWindow {
        position: absolute;
        background: white;
        display: flex;
        align-items: center;
        width: 75%;
        height: 350px;
        opacity: 0;
        pointer-events: none;
        z-index: 0;
        transition: opacity 0.2s;
    }

    @@media screen and (max-width: 1213px) {
        .right-side {
            float: right;
        }
    }

    @@media screen and (max-width: 770px) {
        .left-side {
            margin: 0 auto;
        }

        .right-side {
            text-align: center;
        }
    }

    @@media screen and (max-width: 365px) {
        .left-side img {
            width: 250px;
            margin: 0 auto;
            min-width: 200px;
        }
    }

    #app {
        background-color: lightgray;
    }
</style>


